@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

.navbar-container {
  position: fixed;
  margin: 2.5rem auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 75vh;
  background-color:  #FFCC00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
}

.logo-container {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color:  #FFCC00;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.link {
  padding: 0.5rem 1rem;
  color: #CCCCCC;
  font-weight: bold;
  margin: 0.5rem;
  background-color:  #003366;
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  cursor: pointer;
  transition: 0.25s;
}

.link:hover {
  color: #003366;
  background-color: #CCCCCC;
  transition: 0.25s;
}

.home-bg {
  width: 100%;
  height: 100vh;
  background-image: url('../images/home.jpg');
  background-position: top left;
  background-size: cover;
  background-attachment: fixed;
}

.home {
  width: 100%;
  height: 100vh;
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Manrope', sans-serif;
  background-color: rgba(20, 19, 19, 0.719);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-icon {
  color: #fff;
  font-size: 3rem;
  padding: 0.75rem;
  transition: 0.25s;
}

.home-icon:hover {
  color: #FFCC00;
  transition: 0.25s;
}
