@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/* ---------------- MAIN ------------------ */
.container {
  width: 80%;
  margin: auto;
  padding: 50px 10px;
}

.title {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}


/* ---------------- NAVBAR ------------------ */
.nav-container {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 999;
}

.btn-menu {
  cursor: pointer;
}


/* ---------------- DIVIDER ------------------ */
.divider {
  width: 100%;
  height: 2rem;
  background-color: #000;
}


/* ---------------- HOME ------------------ */
.home-bg {
  width: 100%;
  height: 100vh;
  background-image: url('../images/home.jpg');
  background-position: center;
  background-size: cover;
}

.home {
  width: 100%;
  height: 100vh;
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Manrope', sans-serif;
  background-color: rgba(20, 19, 19, 0.719);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-icon {
  color: #fff;
  font-size: 3rem;
  padding: 0.75rem;
  transition: 0.25s;
}

.home-icon:hover {
  color: #FFCC00;
  transition: 0.25s;
}

/* ---------------- ABOUT ------------------ */
.about-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/about.jpg');
  background-position: center;
  background-size: cover;
}

.about {
  width: 100%;
  height: 100vh;
  background-color: rgba(24, 21, 21, 0.7);
}

.profile-container {
  margin-top: 75px;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
}

.img-profile {
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.proflle-text-container {
  color: #fff;
  font-family: 'Manrope', sans-serif;
  text-align: justify;
}

/* ---------------- CONTACT ------------------ */
.contact-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/contact.jpg');
  background-position: center;
  background-size: cover;
}

.contact {
  width: 100%;
  height: 100vh;
  background-color: rgba(20, 19, 19, 0.719);
  color: #fff;
}

.contact-container {
  margin: 50px 0;
  padding: 35px 0;
  display: flex;
  flex-direction: row;
}

.contact-item {
  border: 2px #fff solid;
  width: 450px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.3rem;
  margin: 15px;
  font-weight: bolder;
  transition: 0.2s;
}

.contact-item:hover {
  background: #FFCC00;
  transition: 0.2s;
  margin-left: 50px;
}

.contact-text-container {
  width: 40%;
  border: 2px #FFCC00 solid;
  border-radius: 10px;
  margin: auto;
  padding: 15px 10px;
  font-size: 1.5rem;
}

