@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/* ---------------- MAIN ------------------ */
.container {
  width: 80%;
  margin: auto;
  padding: 50px 10px;
}

.title {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}


/* ---------------- NAVBAR ------------------ */
.nav-container {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 999;
}

.btn-menu {
  cursor: pointer;
}


/* ---------------- DIVIDER ------------------ */
.divider {
  width: 100%;
  height: 2rem;
  background-color: #000;
}


/* ---------------- HOME ------------------ */
.home-bg {
  width: 100%;
  height: 100vh;
  background-image: url('../images/home.jpg');
  background-position: center;
  background-size: cover;
}

.home {
  width: 100%;
  height: 100vh;
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Manrope', sans-serif;
  background-color: rgba(8, 7, 7, 0.719);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-icon {
  color: #fff;
  font-size: 3rem;
  padding: 0.75rem;
  transition: 0.25s;
}

.home-icon:hover {
  color: #FFCC00;
  transition: 0.25s;
}

/* ---------------- ABOUT ------------------ */
.about-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/about.jpg');
  background-position: center;
  background-size: cover;
}

.about {
  width: 100%;
  height: 100vh;
  background-color: rgba(17, 16, 16, 0.7);
}

.profile-container {
  margin-top: 75px;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
}

.img-profile {
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.proflle-text-container {
  color: #fff;
  font-family: 'Manrope', sans-serif;
  text-align: justify;
}

/* ---------------- EDUCATION ------------------ */
.education-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/education.jpg');
  background-position: center;
  background-size: cover;
}

.education {
  width: 100%;
  height: 100vh;
  background-color: rgba(44, 41, 41, 0.7);
}

.education-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  color: #fff;
  font-family: 'Manrope', sans-serif;
}

.education-box {
  width: 50%;
}

.education-title {
  border-bottom: 2px #FFCC00 solid;
  width: 150px;
  margin: auto;
  margin-bottom: 50px;
  padding: 10px 0;
  text-align: center;
  font-weight: 'bolder';
}

.edu-cert-item {
  margin: 15px 0;
  border-left: 2px #FFCC00 solid;
  padding: 5px 10px;
}

.edu-cert-item:hover {
  background: rgb(77, 76, 76);
  transition: 0.2s;
}

.left-indent {
  margin-left: 35px;
  color: #FFCC00;
  font-size: 0.9rem;
}

.certification-link {
  color: #fff;
  text-decoration: none;
}

.certification-link:hover {
  color: #FFCC00;
  transition: 0.3s;
}

/* ---------------- PROJECTS ------------------ */
.projects-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/projects.jpg');
  background-position: center;
  background-size: cover;
}

.projects {
  width: 100%;
  height: 100vh;
  background-color: rgba(44, 41, 41, 0.7);
}

.projects-container {
  color: #fff;
  margin-top: 20px;
  font-family: 'Manrope', sans-serif;
}

.project-type {
  padding: 5px 15px;
  margin: 5px 15px;
  border-bottom: 2px #FFCC00 solid;
  font-size: 1.25rem;
}

.project-type:hover {
  color: #FFCC00;
  background: rgb(88, 87, 87);
  border-bottom: 2px #fff solid;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
  font-weight: bolder;
}

.project-item {
  display: inline-block;
  border-left: 2px #fff solid;
  border-top: 2px #fff solid;
  border-right: 2px #fff solid;
  border-bottom: 5px #FFCC00 solid;
  padding: 5px 10px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgb(126, 126, 126);
  margin: 0 10px;
  transition: 0.25s ease-out;
}

.project-item:hover {
  border: 2px #FFCC00 solid;
  transition: 0.25s ease-out;
}

.project-item:hover h3 {
  color: #FFCC00;
  transition: 0.25s ease-out;
}

.project-link {
  display: block;
  padding: 5px;
  margin: 5px auto;
  text-decoration: none;
  color: #000;
  background: #fff;
  border-radius: 5px;
  font-weight: bolder;
  text-align: center;
  transition: 0.25s;
}

.project-link:hover {
  background: #FFCC00;
  color: #fff;
  box-sizing: border-box;
  transition: 0.25s;
}

.icon {
  font-size: 3rem;
  margin: 10px;
  cursor: pointer;
  transition: 0.25s;
}

.icon:not(.deactivate):hover {
  color: #FFCC00;
  transition: 0.25s;
}

.icon.deactivate {
  color: #000;
}

.active {
  background: #fff;
  color: #FFCC00;
  border-radius: 5px;
  font-weight: bolder;
}

.deactivate {
  cursor: not-allowed;
}

/* ---------------- CONTACT ------------------ */
.contact-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../images/contact.jpg');
  background-position: center;
  background-size: cover;
}

.contact {
  width: 100%;
  height: 100vh;
  background-color: rgba(20, 19, 19, 0.719);
  color: #fff;
}

.contact-container {
  margin-top: 50px;
  padding-top: 35px;
  display: flex;
  flex-direction: row;
}

.contact-item {
  border: 2px #fff solid;
  width: 450px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.3rem;
  margin: 15px;
  font-weight: bolder;
  transition: 0.2s;
}

.contact-item:hover {
  background: #FFCC00;
  transition: 0.2s;
  margin-left: 50px;
}

.contact-text-container {
  width: 40%;
  border: 2px #FFCC00 solid;
  border-radius: 10px;
  margin: auto;
  padding: 15px 10px;
  font-size: 1.5rem;
}

